body {
    background: #0e7e12;
    box-sizing: border-box;
}

#card {
    height: var(--cardHeight);
    width: var(--cardWidth);
}

#card span{
    font-size: var(--spanFontSize);
}

#card-suit-heart{
    content: ' \2665';
    color: red;
}

#card-suit-diamond{
    content: ' \2665';
    color: red;
}

#card-populate-sort #onHover:hover{
    background-color: rgba(128, 128, 128, 0.5);
}