body {
    background: #0e7e12;
    box-sizing: border-box;
}
.card {
    text-align: center;
    background: white;
    padding: 20px;
    margin-top: auto;
    border-radius: 10px;
    border: 1px solid black;
    margin: auto;
    height: 300px;
    width: 250px;
    position: relative;
    font-size: 60px;  
}

.card span{
    line-height: 300px;
}

.card:before {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 60px;
    container-name: sidebar
}
.card:after {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 60px;
}
.card.spade:before, .card.spade:after{
    content: ' \2660';
}

.card.club:before, .card.club:after {
    content: ' \2663';
}
.card.heart:before, .card.heart:after {
    content: ' \2665';
    color: red;
}
.card.diamond:before, .card.diamond:after {
    content: ' \2666';
    color: red;
}